.task button{

padding:8px 12px;

margin-left:8px;

border:none;

border-radius:8px;

cursor:pointer;

}

.completeBtn{

background:#2ecc71;

color:white;

}

.deleteBtn{

background:#e74c3c;

color:white;

}

.dark{

background:#1b1b1b;

}

.dark .container{

background:rgba(40,40,40,.7);

}

.dark input,
.dark select{

background:#333;

color:white;

}

.dark #search{

background:#333;

color:white;

}

.dark .calendar-box,
.dark .task{

background:rgba(255,255,255,.08);

}
